APP_NAME=Jellyfish API
APP_PORT=9000
APP_DEBUG=true 
APP_ENV=development
APP_VERSION=1.0.0
APP_LOG_LEVEL=1
APP_URL=http://localhost:9000
APP_SWAGGER=true

DB_TYPE=postgres
DB_DRIVER=pgx
DB_SSL_MODE=require
DB_URL=
DB_HOST=
DB_PORT=5432
DB_USER=
DB_NAME=
DB_PASS=

JWT_SECRET=SelamatMengerjakan
JWT_EXPIRATION=24h
JWT_ISSUER=jellyfish
JWT_AUDIENCE=jellyfish
JWT_ALGORITHM=HS256